// FONT STYLES
$text-primary: #FEFEFE;
$text-secondary: #DADADA;

// PAGE COLORS
$bg-primary: #13121D;
$bg-secondary: #A80F35;

// NEON GLOWS
$glow-g: #0FA83A;
$glow-r: #A80F35;
$glow-p: #632459;
$glow-b: #3935FF;

// SPACING

// MAX SCREEN SIZES
$screen-s: 768px;
$screen-m: 1024px;
$screen-l: 1920px;

// ANIMATIONS
