.header {
    &__container {
        display: flex;
        flex-direction: row;
        &__text {
            width: 50vw;
            padding-top: 7em;
            padding-left: 9vw;
            color: $text-primary;
            h1 {
                line-height: 1.3;
                font-size: 7vh;
                font-weight: bold;
            }
            p {
                line-height: 1.5;
                color: $text-tertiary;
                width: 31em;
                height: 12em;
                display: flex;
                align-items: center;
            }
            button {
                color: $text-primary;
                border-radius: 8px;
                background: linear-gradient(270deg, #4542D5 0%, #86116C 100%);
                padding: 1em 3em;
                border: none;

            }
        }

        // &__image {
        //     width: 100%;
        //     margin-left: 4em;
        //     border-radius: 8px;
        //     border: 1px solid #888;
        //     background: linear-gradient(rgba(0,0,0,0), #13121D), url(../../src/luke-chesser-JKUTrJ4vK00-unsplash.jpg);
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        // }
    }
}