.navbar {
    margin: 0 auto;
    height: 6em;
    // background-color: red;
    max-width: $screen-l;
    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
        &__logo {
            display: flex;
            text-decoration: none;
            color: $glow-r;

            div {
                display: flex;
                flex-direction: column;

                img {
                height: 48px;
                }
                div {
                    font-size: 12px;
                    padding-top: 2px;
                    font-weight: 600;
                    font-family: 'audiowide';
                    text-decoration: none;
                    color: $glow-r;
                }
            }
            
        }
        &__list {
            display: flex;
            flex-direction: row;
            gap: 2em;
            &__item {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: $text-secondary;
                    transition: all 200ms ease-in-out;
                    &:hover {
                        color: $text-primary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-m) {
    .navbar {
        &__container {
            &__list {
                display: none;
            }
        }
    }
}