@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.navbar {
  margin: 0 auto;
  height: 6em;
  z-index: 10;
  max-width: 1160px; }
  .navbar__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em; }
    .navbar__container__logo {
      display: flex;
      text-decoration: none;
      color: #A80F35; }
      .navbar__container__logo div {
        display: flex;
        flex-direction: column; }
        .navbar__container__logo div img {
          height: 48px; }
        .navbar__container__logo div div {
          font-size: 12px;
          padding-top: 2px;
          font-weight: 600;
          font-family: 'audiowide';
          text-decoration: none;
          color: #A80F35; }
    .navbar__container__menu {
      width: 48px;
      height: 48px;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .navbar__container__menu__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px; }
        .navbar__container__menu__wrapper__item {
          transition: all 250ms ease-in-out;
          position: relative;
          width: 30px;
          display: block;
          border-radius: 3px;
          height: 5px;
          background-color: white;
          bottom: 0; }
      .navbar__container__menu.active span:nth-of-type(1) {
        transform: rotate(45deg);
        bottom: -0.5em; }
      .navbar__container__menu.active span:nth-of-type(2) {
        width: 30px;
        transition: all 250ms ease-in-out 10ms;
        width: 0; }
      .navbar__container__menu.active span:nth-of-type(3) {
        bottom: 0.5em;
        transform: rotate(-45deg); }
      .navbar__container__menu :hover {
        cursor: pointer; }
    .navbar__container__list {
      display: flex;
      flex-direction: row;
      gap: 2em; }
      .navbar__container__list__item {
        list-style-type: none; }
        .navbar__container__list__item a {
          text-decoration: none;
          color: #DADADA;
          transition: all 200ms ease-in-out; }
          .navbar__container__list__item a:hover {
            color: #FEFEFE; }

@media screen and (max-width: 1024px) {
  .navbar {
    height: 4.5em; }
    .navbar__container {
      padding: 0 1em; }
      .navbar__container__logo {
        display: flex;
        text-decoration: none;
        color: #A80F35; }
        .navbar__container__logo div {
          display: flex;
          flex-direction: row; }
          .navbar__container__logo div img {
            height: 24px; }
          .navbar__container__logo div div {
            padding-left: 1em;
            font-size: 18px;
            padding-top: 2px;
            font-weight: 900;
            font-family: 'audiowide';
            text-decoration: none;
            color: white; }
      .navbar__container__menu {
        visibility: visible; }
      .navbar__container__list {
        display: none; } }
body {
  overflow-x: hidden;
  overflow-y: visible; }

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #13121D 0%, #86116c 100%);
  opacity: 0.1;
  z-index: -2; }

.header {
  max-width: 100vw;
  position: relative; }
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: -6em;
    max-width: 1800px;
    padding: 0 2em; }
    .header__container__text {
      color: #FEFEFE; }
      .header__container__text h1 {
        line-height: 1.25;
        font-size: clamp(28px, 6vw, 64px);
        font-weight: 700; }
      .header__container__text p {
        line-height: 1.5;
        font-size: 20px;
        color: #9A9A9A;
        max-width: 31em;
        margin: 2em 0;
        display: flex;
        align-items: center; }
      .header__container__text button {
        color: #FEFEFE;
        border-radius: 8px;
        background: linear-gradient(270deg, #4542d5 0%, #86116c 100%);
        padding: 1em 4em;
        margin: 0.5em 0 0 0;
        border: none; }
        .header__container__text button:hover {
          background: linear-gradient(270deg, #3835eb 0%, #c716a1 100%); }
    .header__container__image {
      display: block;
      position: absolute;
      z-index: 2;
      max-width: 100%;
      max-height: 75vh;
      left: 60%;
      border-radius: 8px;
      margin: 0 2em;
      border: 1px solid #888;
      mask-image: linear-gradient(rgba(0, 0, 0, 0), #13121d);
      -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), #13121d); }

@media screen and (max-width: 1900px) {
  .header {
    max-width: 1160px;
    margin: 0 auto; }
    .header__container {
      max-width: 1160px; } }
@media screen and (max-width: 1024px) {
  .header {
    max-width: 768px; }
    .header__container {
      padding: 0 1em;
      max-width: 768px; }
      .header__container__image {
        display: none; } }
body {
  font-family: 'Poppins', 'roboto', sans-serif;
  background-color: #13121D; }

/*# sourceMappingURL=stylesheet.css.map */
